<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
	<title>计划位记录管理</title>
</head>
<body>
<fieldset class="layui-elem-field">
	<legend>计划位信息</legend>
	<div class="layui-field-box">
		<table class="layui-table" lay-size="sm">
			<thead>
				<tr>
					<td class="layui-hide">计划位表id</td>
					<td>行程</td>
					{notempty name="planPositionInfo.departure_date_1"}
						<td>第1程日期</td>
					{/notempty}
					{notempty name="planPositionInfo.departure_date_2"}
						<td>第2程日期</td>
					{/notempty}
					{notempty name="planPositionInfo.departure_date_3"}
						<td>第3程日期</td>
					{/notempty}
					{notempty name="planPositionInfo.departure_date_4"}
						<td>第4程日期</td>
					{/notempty}
					<td>座位数</td>
					<td>留位</td>
					<td>余位</td>
					<td>出票时限</td>
					<td>状态</td>
					
					
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="layui-hide" id='plan_positon_id'>{$planPositionInfo.id}</td>
					<td>
						{php}
							$tripInfoArr = [];
							$vAirPortArr = explode('&',$planPositionInfo['air_line']['air_line_text']);
							if(count($vAirPortArr)>1){
								$tripN = 0;
								foreach($vAirPortArr as $vAirPort)
								{
									$tripf = explode('-',$vAirPort);
									for ($i=0; $i<=count($tripf)-1; $i++)
									{
										if($i>0){
											$tripInfoArr[$tripN] = $tripf[$i-1].'-'.$tripf[$i];
											$tripN = $tripN+1;
										}
									}
									
								}
								$flightArr = explode('-',$planPositionInfo['air_line']['flight']);
								$air_timeArr = explode('-',$planPositionInfo['air_time']);
								foreach($tripInfoArr as $k=>$vtrip)
								{
									$tripInfoArr[$k] = $vtrip.' '.$flightArr[$k].' '.$air_timeArr[$k];
								}
							}else
							{
								$tripN = 0;
								$tripf = explode('-',$planPositionInfo['air_line']['air_line_text']);
								for ($i=0; $i<=count($tripf)-1; $i++)
								{
									if($i>0){
										$tripInfoArr[$tripN] = $tripf[$i-1].'-'.$tripf[$i];
										$tripN = $tripN+1;
									}
								}
								$flightArr = explode('-',$planPositionInfo['air_line']['flight']);
								$air_timeArr = explode('-',$planPositionInfo['air_time']);
								foreach($tripInfoArr as $k=>$vtrip)
								{
									$tripInfoArr[$k] = $vtrip.' '.$flightArr[$k].' '.$air_timeArr[$k];
								}
							}
							foreach($tripInfoArr as $val)
							{ 
								echo $val.'<br>';	
							} 
						{/php}
					</td>
					{notempty name="planPositionInfo.departure_date_1"}
						<td>{$planPositionInfo.departure_date_1}</td>
					{/notempty}
					{notempty name="planPositionInfo.departure_date_2"}
						<td>{$planPositionInfo.departure_date_2}</td>
					{/notempty}
					{notempty name="planPositionInfo.departure_date_3"}
						<td>{$planPositionInfo.departure_date_3}</td>
					{/notempty}
					{notempty name="planPositionInfo.departure_date_4"}
						<td>{$planPositionInfo.departure_date_4}</td>
					{/notempty}
					<td id="plan_seat_number">{$planPositionInfo.seat_number}</td>
					<td id="plan_reserved">
						{php}
							$occupy_seat = 0;
							foreach($planPositionInfo['reserve_record'] as $val)
							{
								$occupy_seat = $occupy_seat+$val['quantity'];
							}
							foreach($planPositionInfo['definite_record'] as $passList)
							{
								foreach($passList['definite_pass_list'] as $val){
									$occupy_seat = $occupy_seat+count($val);
								}
							}
							echo $occupy_seat;
						{/php}
					</td>
					<td id="plan_remainder" style="color:#FF5722;">
						{php}
							$occupy_seat = 0;
							foreach($planPositionInfo['reserve_record'] as $val)
							{
								$occupy_seat = $occupy_seat+$val['quantity'];
							}
							foreach($planPositionInfo['definite_record'] as $passList)
							{
								foreach($passList['definite_pass_list'] as $val){
									$occupy_seat = $occupy_seat+count($val);
								}
							}
							echo $planPositionInfo['seat_number']-$occupy_seat;
						{/php}
					</td>
					<td>
						{notempty name="planPositionInfo.time_limit"}
							{$planPositionInfo.time_limit}
						{/notempty}
					</td>
					<td>
						{notempty name="planPositionInfo.policy_state"}
							{$planPositionInfo.policy_state}
						{/notempty}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</fieldset>
<div class="layui-tab" lay-filter="headTab">
	<ul class="layui-tab-title">
		<li class="layui-this">留位记录</li>
		<li>有名单记录</li>
		<li>操作记录</li>
	</ul>
	<div class="layui-tab-content">
		<div class="layui-tab-item layui-show">
			<div class="layui-row">
				<div class="layui-col-sm12">
					<button class="layui-btn layui-btn-normal layui-btn-sm" id="addReserveRecord">新增留位</button>					
				</div>
			</div>
			<table id="reserveRecordList" lay-filter="reserveRecordListF"></table>
		</div>
		<div class="layui-tab-item">
			<div class="layui-row">
				<div class="layui-col-sm6">
					<button class="layui-btn layui-btn-normal layui-btn-sm" id="addDefiniteRecord">新增记录</button>					
				</div>
				<div class="layui-col-sm6" style="text-align:right;">
					<button class="layui-btn layui-btn-normal layui-btn-sm" id="fullINTicket">票号回填</button>
					<button class="layui-btn layui-btn-sm" id="outPassExcel">名单导出</button>					
				</div>
				
			</div>
			<table id="definiteRecordList" lay-filter="definiteRecordListF"></table>
		</div>
		<div class="layui-tab-item" id="planLog">
			数据加载中...
		</div>
	</div>
</div>
<div id="reserve_record_info" style="display:none;padding:10px;">
	<table style="width:100%;border-collapse:separate;border-spacing:10px;">
		<tr class="layui-hide">
			<td>
				id
			</td>
			<td>
				<input type="text" name="id" placeholder="" autocomplete="off" class="layui-input">
			</td>
		</tr>
		<tr>
			<td>
				名称
			</td>
			<td>
				<textarea name="title" placeholder="" class="layui-textarea"></textarea>
			</td>
		</tr>
		<tr>
			<td>
				留位数量
			</td>
			<td>
				<input type="text" name="quantity" placeholder="" autocomplete="off" class="layui-input" style="width:50px;">
			</td>
		</tr>
	</table>
</div>
<div id="definite_record_info" style="display:none;padding:10px;">
	<table style="width:100%;border-collapse:separate;border-spacing:10px;">
		<tr class="layui-hide">
			<td>
				id
			</td>
			<td>
				<input type="text" name="id" placeholder="" autocomplete="off" class="layui-input">
			</td>
		</tr>
		<tr>
			<td>
				名称
			</td>
			<td>
				<textarea name="title" placeholder="" class="layui-textarea"></textarea>
			</td>
		</tr>
	</table>
</div>
<div id="definite_pass_info" style="display:none;padding:10px;">
	<table style="width:100%;border-collapse:separate;border-spacing:10px;">
		<tr class="layui-hide">
			<td>
				id
			</td>
			<td>
				<input type="text" name="id" placeholder="" autocomplete="off" class="layui-input">
			</td>
		</tr>
		<tr>
			<td>
				姓名：
			</td>
			<td>
				<input type="text" name="pass_name" placeholder="" autocomplete="off" class="layui-input">
			</td>
		</tr>
		<tr>
			<td>
				证件号码：
			</td>
			<td>
				<input type="text" name="pass_id" placeholder="" autocomplete="off" class="layui-input">
			</td>
		</tr>
		<tr>
			<td>
				票号：
			</td>
			<td>
				<input type="text" name="ticket_number" placeholder="" autocomplete="off" class="layui-input">
			</td>
		</tr>
	</table>
</div>

<script type="text/javascript" src="__STATIC__/js/jquery-3.3.1.min.js"></script> 
<script src="__STATIC__/layui/layui.js"></script>
<script type="text/html" id="SetCol">
	<a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="dele">删除</a>
</script>
<script type="text/html" id="softDeleSetCol">
	<a class="layui-btn layui-btn-xs" lay-event="recovery">恢复</a>
</script>
<script id="definite_pass_tpl" type="text/html">
	<div style="padding:10px;">
		<table style="width:100%;margin-bottom:10px;text-align:center;">
			<tr>
				<td class="layui-hide" id="definiteRecordId">{{ d.id }}</td>
				<td><b>名称：</b>{{ d.title }}</td>
				<td>
					<b>留位数量：</b>
					<span style="color:#FFB800;" id="definite_pass_count">{{ d.definite_pass_list.length }}</span>
				</td>
			</tr>
		</table>
		<div class="layui-tab">
			<ul class="layui-tab-title">
				<li class="layui-this">旅客录入</li>
				<li>票号回填</li>
				<li>旅客提出</li>
				<li>票号提出</li>
				<li>恢复信息</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<textarea id="nameAndIdIN"  lay-verify="" placeholder="请输入名单，每行一个，包含名字和身份证号码。重名信息请单独填写" class="layui-textarea" style="height:150px;"></textarea>
					<div class="layui-row">
						<div class="layui-col-sm12">
							<button class="layui-btn layui-btn-normal layui-btn-sm" id="addPassAndId">录入名单</button>					
						</div>
					</div>
				</div>
				<div class="layui-tab-item">
					<textarea id="nameAndTicketIN"  lay-verify="" placeholder="请输入带票号的名单，每行一个，包含名字和票号。系统将自动按照姓名填写对应票号。重名信息请单独填写" class="layui-textarea" style="height:150px;"></textarea>
					<div class="layui-row">
						<div class="layui-col-sm12">
							<button class="layui-btn layui-btn-normal layui-btn-sm" id="addTicket">录入票号</button>					
						</div>
					</div>
				</div>
				<div class="layui-tab-item">
					<textarea id="nameAndIdOut" readonly lay-verify="" placeholder="" class="layui-textarea" style="height:150px;"></textarea>
					<div class="layui-row">
						<div class="layui-col-sm12">
							<button class="layui-btn layui-btn-normal layui-btn-sm" id="outPassAndId">生成并复制名单</button>					
						</div>
					</div>
				</div>
				<div class="layui-tab-item">
					<textarea id="nameAndTicketOut" readonly lay-verify="" placeholder="" class="layui-textarea" style="height:150px;"></textarea>
					<div class="layui-row">
						<div class="layui-col-sm12">
							<button class="layui-btn layui-btn-normal layui-btn-sm" id="outTicket">生成并复制票号</button>					
						</div>
					</div>
				</div>
				<div class="layui-tab-item">
					<table id="softDeleDefinitePassList" lay-filter="softDeleDefinitePassListF"></table>
				</div>
			</div>
		</div>
		<hr class="layui-bg-gray">
		<div class="layui-row">
			<div class="layui-col-sm12">
				<button class="layui-btn layui-btn-sm" id="addSinglePassAndId">新增单个名单</button>					
			</div>
		</div>
		<table id="definitePassList" lay-filter="definitePassListF"></table>
	</div>
</script>
<script id="in_ticket_tpl" type="text/html">
	<div style="padding:10px;">
		<textarea id="inFullTicketInfo" lay-verify="" placeholder="请输入带票号的名单，每行一个，包含名字和票号。系统将自动按照姓名填写对应票号。重名信息请单独填写" class="layui-textarea" style="height:150px;"></textarea>
		<div class="layui-row">
			<div class="layui-col-sm12">
				<button class="layui-btn layui-btn-normal layui-btn-sm" id="inFullTicket">录入票号</button>					
			</div>
		</div>
		<hr class="layui-bg-gray">
		<table id="definitePassTicketList" lay-filter="definitePassTicketListF"></table>
	</div>
</script>
<script>
$(document).ready(function(){
	
	if(typeof(Storage)!=="undefined")
	{
		//表单令牌保存
		var token = '{$token}';
		sessionStorage.setItem('__token__',token);
		
	} else {
		alert('浏览器不支持webStorage,提交将会出现错误');
	}
	layui.config({
		base: '__STATIC__/layui_exts/',
	}).extend({
		excel: 'excel.min',
	});
	layui.use(['element','form','table','layer','laytpl','laydate','excel'], function(){
		var element = layui.element,
		  form = layui.form,
		  table = layui.table,
		  layer = layui.layer,
		  laytpl = layui.laytpl,
		  laydate = layui.laydate,
		  layexcel = layui.excel;
		
		
		//选项卡切换查看操作记录
		element.on('tab(headTab)', function(tabdata){
			//加载历史记录
			if(tabdata.index==2){
				$.get('{:url("SelfPlanManage/LogViewPlanPosition")}?id='+{$planPositionInfo->id},function(data,status){
					if(status == 'success'){
						$('#planLog').html(data);
					}else{
						$('#planLog').html('数据加载失败');
					}
				});
			}
		});
		//留位记录数据表
		table.render({
			elem: '#reserveRecordList'
			,id:'reserveRecordTable'
			,height: 'full-300'
			,url:'{:url('SelfPlanManage/ReserveRecordData')}' //数据
			,where:{'planPositionId':{$planPositionInfo.id|json_encode}}
			,cellMinWidth: 60 
			,size:'sm'
			,limit:20
			,page:true
			,text: {
					none: '暂无相关数据' //默认：无数据。
				  }
			,cols: [[ //表头
			  {field: 'title', title: '名称'}
			  ,{field: 'quantity', title: '留位数量',style:'color: #FF5722;'}
			  ,{field: 'create_time', title: '记录时间'}
			  ,{field: 'submitter', title: '提交人'}
			  ,{fixed: 'right', title:'操作', toolbar: '#SetCol'}
			]]
		  });
		  //有名单记录数据表
		table.render({
			elem: '#definiteRecordList'
			,id:'definiteRecordTable'
			,height: 'full-300'
			,url:'{:url('SelfPlanManage/DefiniteRecordData')}' //数据
			,where:{'planPositionId':{$planPositionInfo.id|json_encode}}
			,cellMinWidth: 60 
			,size:'sm'
			,limit:20
			,page:true
			,text: {
					none: '暂无相关数据' //默认：无数据。
				  }
			,cols: [[ //表头
			  {field: 'title', title: '名称'}
			  ,{field: 'quantity', title: '留位数量',style:'color: #FF5722;',templet:'<div>{{ d.definite_pass_list.length }}</div>'}
			  ,{field: 'create_time', title: '记录时间'}
			  ,{field: 'submitter', title: '提交人'}
			  ,{fixed: 'right', title:'操作', toolbar: '#SetCol'}
			]]
		  });
		//点击新增留位
		$('body').on('click','#addReserveRecord',function(){
			layer.open({
				type: 1
				,title: '添加留位记录'
				//shadeClose:true,
				,closeBtn: 0
				,area: ['400px','300px']
				,content: $('#reserve_record_info')
				,btn: ['提交', '取消']
				,yes: function(index, layero){
					//按钮【按钮一】的回调
					var plan_position_id = $('#plan_positon_id').text();
					var title = layero.find('textarea[name="title"]').val().trim();
					var quantity = layero.find('input[name="quantity"]').val().trim();
					var token = sessionStorage.getItem('__token__');
					
					if(!/[<>\s]/g.test(title) && /^[0-9]$|^[1-9][0-9]+$/g.test(quantity)){
						$.ajax({
							type:"POST",
							url:"{:url('SelfPlanManage/AddReserveRecordData')}",
							data:{'plan_position_id':plan_position_id,'title':title,'quantity':quantity,'__token__':token},
							dataType:'json',
							success:function(data){
								if(data.status==1){		
									layer.close(index);
									layer.msg(data.message);
									var seat_number = $('#plan_seat_number').text();
									$('#plan_reserved').text(data.quantityZ);
									$('#plan_remainder').text(seat_number-data.quantityZ);

									$('#reserve_record_info').find('input').val(''); 
									$('#reserve_record_info').find('textarea').val('');
									table.reload('reserveRecordTable');
									
								}else{				
									layer.msg(data.message);
									
								}
							},
							complete:function(xmlHttpRequest){
								var token = xmlHttpRequest.getResponseHeader('__token__');
								//console.log('__token__响应头字段：'+ token);	
								sessionStorage.setItem('__token__',token);
							}
						});
					}else{
						layer.msg('填写内容格式错误');
					}
					
					
				}
				,btn2: function(index, layero){
					//按钮【按钮二】的回调
					$('#reserve_record_info').find('input').val('');
					$('#reserve_record_info').find('textarea').val('');
					layer.close(index);
				}
			});
		});
		//留位表工具栏点击修改/删除
		table.on('tool(reserveRecordListF)', function(obj){
			var trData = obj.data; //获得当前行数据
			var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
			//点击删除
			if(layEvent === 'dele'){
				layer.confirm('【'+trData['title']+'】的'+trData['quantity']+'个留位，是否确认删除', function(Cindex){
					$.ajax({
						type:"POST",
						url:"{:url('SelfPlanManage/DeleReserveRecordData')}",
						data:{'id':trData['id']},
						dataType:'json',
						success:function(data){
							if(data.status==1){		
								layer.msg(data.message);
								var seat_number = $('#plan_seat_number').text();
								$('#plan_reserved').text(data.quantityZ);
								$('#plan_remainder').text(seat_number-data.quantityZ);
								table.reload('reserveRecordTable');
							}else{				
								layer.msg(data.message);
								
							}
						}
					});
				});
			//点击修改
			}else if(layEvent === 'edit'){
				
				$('#reserve_record_info').find('textarea[name="title"]').val(trData['title']);
				$('#reserve_record_info').find('input[name="quantity"]').val(trData['quantity']);
				layer.open({
					type: 1
					,title: '修改留位记录'
					//shadeClose:true,
					,closeBtn: 0
					,area: ['400px','300px']
					,content: $('#reserve_record_info')
					,btn: ['提交', '取消']
					,yes: function(index, layero){
						//按钮【按钮一】的回调
						var title = layero.find('textarea[name="title"]').val().trim();
						var quantity = layero.find('input[name="quantity"]').val().trim();
						var token = sessionStorage.getItem('__token__');
						if(!/[<>\s]/g.test(title) && /^[0-9]$|^[1-9][0-9]+$/g.test(quantity)){
							$.ajax({
								type:"POST",
								url:"{:url('SelfPlanManage/editReserveRecordData')}",
								data:{'id':trData['id'],'title':title,'quantity':quantity,'__token__':token},
								dataType:'json',
								success:function(data){
									if(data.status==1){		
										layer.close(index);
										layer.msg(data.message);
										var seat_number = $('#plan_seat_number').text();
										$('#plan_reserved').text(data.quantityZ);
										$('#plan_remainder').text(seat_number-data.quantityZ);

										$('#reserve_record_info').find('input').val('');
										$('#reserve_record_info').find('textarea').val('');
										table.reload('reserveRecordTable');
										
									}else{				
										layer.msg(data.message);
										
									}
								},
								complete:function(xmlHttpRequest){
									var token = xmlHttpRequest.getResponseHeader('__token__');
									//console.log('__token__响应头字段：'+ token);	
									sessionStorage.setItem('__token__',token);
								}
							});
						}else{
							layer.msg('填写内容格式错误');
						}
						
						
					}
					,btn2: function(index, layero){
						//按钮【按钮二】的回调
						$('#reserve_record_info').find('input').val('');
						$('#reserve_record_info').find('textarea').val('');
						layer.close(index);
					}
				});
			}
		
		});
		//新增有名单留位名称
		$('body').on('click','#addDefiniteRecord',function(){
			layer.open({
				type: 1
				,title: '添加留位记录'
				//shadeClose:true,
				,closeBtn: 0
				,area: ['400px','250px']
				,content: $('#definite_record_info')
				,btn: ['提交', '取消']
				,yes: function(index, layero){
					//按钮【按钮一】的回调
					var plan_position_id = $('#plan_positon_id').text();
					var title = layero.find('textarea[name="title"]').val().trim();
					var token = sessionStorage.getItem('__token__');
					
					if(!/[<>\s]/g.test(title)){
						$.ajax({
							type:"POST",
							url:"{:url('SelfPlanManage/AddDefiniteRecordData')}",
							data:{'plan_position_id':plan_position_id,'title':title,'__token__':token},
							dataType:'json',
							success:function(data){
								if(data.status==1){		
									layer.close(index);
									layer.msg(data.message);
									$('#definite_record_info').find('input').val('');
									$('#definite_record_info').find('textarea').val('');
									table.reload('definiteRecordTable');
									
								}else{				
									layer.msg(data.message);
									
								}
							},
							complete:function(xmlHttpRequest){
								var token = xmlHttpRequest.getResponseHeader('__token__');
								//console.log('__token__响应头字段：'+ token);	
								sessionStorage.setItem('__token__',token);
							}
						});
					}else{
						layer.msg('填写内容格式错误');
					}
					
					
				}
				,btn2: function(index, layero){
					//按钮【按钮二】的回调
					$('#definite_record_info').find('input').val('');
					$('#definite_record_info').find('textarea').val('');
					layer.close(index);
				}
			});
		});
		//有名单留位表，名称表格，工具栏点击修改/删除
		table.on('tool(definiteRecordListF)', function(obj){
			var trData = obj.data; //获得当前行数据
			var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
			//点击删除
			if(layEvent === 'dele'){
				layer.confirm('【'+trData['title']+'】是否确认删除，包含当前记录下的所有乘机人信息', function(Cindex){
					layer.prompt({title: '请输入要删除的名称，以确认删除'},function(value, pIndex, elem){
						if(value==trData['title']){
							$.ajax({
								type:"POST",
								url:"{:url('SelfPlanManage/DeleDefiniteRecordData')}",
								data:{'id':trData['id']},
								dataType:'json',
								success:function(data){
									if(data.status==1){		
										layer.msg(data.message);
										var seat_number = $('#plan_seat_number').text();
										$('#plan_reserved').text(data.quantityZ);
										$('#plan_remainder').text(seat_number-data.quantityZ);
										table.reload('definiteRecordTable');
									}else{				
										layer.msg(data.message);
										
									}
								}
							});
							
							layer.close(pIndex);
						}else{
							layer.msg('名称输入错误，请检查')
						}
					});
					
				});
			//点击修改
			}else if(layEvent === 'edit'){
				
				$('#definite_record_info').find('textarea[name="title"]').val(trData['title']);
				layer.open({
					type: 1
					,title: '修改留位记录'
					//shadeClose:true,
					,closeBtn: 0
					,area: ['400px','250px']
					,content: $('#definite_record_info')
					,btn: ['提交', '取消']
					,yes: function(index, layero){
						//按钮【按钮一】的回调
						var title = layero.find('textarea[name="title"]').val().trim();
						var token = sessionStorage.getItem('__token__');
						if(!/[<>\s]/g.test(title)){
							$.ajax({
								type:"POST",
								url:"{:url('SelfPlanManage/editDefiniteRecordData')}",
								data:{'id':trData['id'],'title':title,'__token__':token},
								dataType:'json',
								success:function(data){
									if(data.status==1){		
										layer.close(index);
										layer.msg(data.message);
										$('#definite_record_info').find('input').val('');
										$('#definite_record_info').find('textarea').val('');
										table.reload('definiteRecordTable');
										
									}else{				
										layer.msg(data.message);
										
									}
								},
								complete:function(xmlHttpRequest){
									var token = xmlHttpRequest.getResponseHeader('__token__');
									//console.log('__token__响应头字段：'+ token);	
									sessionStorage.setItem('__token__',token);
								}
							});
						}else{
							layer.msg('填写内容格式错误');
						}
						
						
					}
					,btn2: function(index, layero){
						//按钮【按钮二】的回调
						$('#definite_record_info').find('input').val('');
						$('#definite_record_info').find('textarea').val('');
						layer.close(index);
					}
				});
			}
		
		});
		//总票号回填弹窗，回填当前计划中的所有票号
		$('body').on('click','#fullINTicket',function(){
			var in_ticket_tpl = $('#in_ticket_tpl').html();
			var inTicketHtml = laytpl(in_ticket_tpl).render({});
			layer.open({
				type: 1, 
				title: false,
				//shadeClose:true,
				//closeBtn: 0,
				area: ['600px','700px'],
				content: inTicketHtml
			});
			//乘机人信息数据
			table.render({
				elem: '#definitePassTicketList'
				,id:'definitePassTicketTable'
				,height: 'full-400'
				,url:'{:url('SelfPlanManage/FullDefinitePassData')}' //数据
				,where:{'planPositionId':{$planPositionInfo.id|json_encode}}
				,cellMinWidth: 60 
				,size:'sm'
				,limit:60
				,limits:[60,120,180]
				,page:true
				,text: {
						none: '暂无相关数据' //默认：无数据。
					  }
				,cols: [[ //表头
					{field: 'title', title: '所属名称',templet:'<div>{{ d.definite_record.title}}</div>'}
				  ,{field: 'pass_name', title: '姓名',width:95}
				  ,{field: 'pass_id', title: '证件号',width:170}
				  ,{field: 'ticket_number', title: '票号'}
				  
				]]
			  });
		});
		//总票号回填界面，点击录入票号
		$('body').on('click','#inFullTicket',function(){
			var ticketListInfo = $('#inFullTicketInfo').val();
			if(ticketListInfo!=''){
				var ticketList = formatTicketList(ticketListInfo); //得到格式化后的身份信息
				if(ticketList['code']==-1)//判断信息正确性
				{
					layer.msg(ticketList['msg']);
				}
				else if(ticketList['code']==0)
				{
					//var definiteRecordId = $('#definiteRecordId').text();
					var planPositonId = $('#plan_positon_id').text();
					var token = sessionStorage.getItem('__token__');
					$.ajax({
						type:"POST",
						url:"{:url('SelfPlanManage/PlAddFullDefiniteTicketData')}",
						data:{'id':planPositonId,'__token__':token,'data':ticketList.data},
						dataType:'json',
						success:function(data){
							if(data.status==1){
								layer.msg(data.message);
								$('#inFullTicketInfo').val('');
								table.reload('definitePassTicketTable');
								
							}else{				
								layer.msg(data.message);
								
							}
						},
						complete:function(xmlHttpRequest){
							var token = xmlHttpRequest.getResponseHeader('__token__');
							//console.log('__token__响应头字段：'+ token);	
							sessionStorage.setItem('__token__',token);
						}
					});
				}
			}
		});
		//总名单导出
		$('body').on('click','#outPassExcel',function(){
			var loadindex = layer.load();
			$.ajax({
				type:"POST",
				url:"{:url('SelfPlanManage/DefinitePassExcel')}",
				data:{'planPositionId':{$planPositionInfo.id|json_encode}},
				dataType:'json',
				success:function(data){
					if(data.status==1){	
						//导出数据的处理
						var exlData = layexcel.filterExportData(data.data, {
							title:function(value, line, data){
								return line['definite_record']['title'];
							},
							pass_name:'pass_name',
							pass_id:'pass_id',
							ticket_number:'ticket_number'
						});
						//添加表头
						exlData.unshift({'title':'所属名称','pass_name':'姓名','pass_id':'证件号','ticket_number':'票号'});
						//合并单元格配置
						//var mergeConf = layexcel.makeMergeConfig(merg);
						//导出表格
						layexcel.exportExcel({
							sheet1: exlData
						}, '导出名单.xlsx', 'xlsx');
						layer.close(loadindex); 
					}else{				
						layer.msg(data.message);
						layer.close(loadindex); 
						
					}
				}
			});
		});
		//有名单记录表格双击
		table.on('rowDouble(definiteRecordListF)', function(obj){
			var definite_pass_tpl = $('#definite_pass_tpl').html();
			var definitePassHtml = laytpl(definite_pass_tpl).render(obj.data);
			layer.open({
				type: 1, 
				title: false,
				//maxmin: true,
				//shadeClose:true,
				//closeBtn: 0,
				area: ['600px','780px'],
				content: definitePassHtml,
				end:function(){
					table.reload('definiteRecordTable');
				}
			});
			//有名单留位数据
			table.render({
				elem: '#definitePassList'
				,id:'definitePassTable'
				,height: 'full-400'
				,url:'{:url('SelfPlanManage/DefinitePassData')}' //数据
				,where:{'definiteRecordId':obj.data.id}
				,cellMinWidth: 60 
				,size:'sm'
				,limit:60
				,limits:[60,120,180]
				,page:true
				,text: {
						none: '暂无相关数据' //默认：无数据。
					  }
				,cols: [[ //表头
				  {field: 'pass_name', title: '姓名',width:95}
				  ,{field: 'pass_id', title: '证件号',width:170}
				  ,{field: 'ticket_number', title: '票号'}
				  ,{fixed: 'right', title:'操作', toolbar: '#SetCol'}
				]]
			  });
			  //软删除的有名单留位数据
			 table.render({
				elem: '#softDeleDefinitePassList'
				,id:'softDeleDefinitePassTable'
				,height: 'full-600'
				,url:'{:url('SelfPlanManage/SoftDeleDefinitePassData')}' //数据
				,where:{'definiteRecordId':obj.data.id}
				,cellMinWidth: 60 
				,size:'sm'
				,limit:60
				,limits:[60,120,180]
				,page:true
				,text: {
						none: '暂无相关数据' //默认：无数据。
					  }
				,cols: [[ //表头
				  {field: 'pass_name', title: '姓名',width:95}
				  ,{field: 'pass_id', title: '证件号',width:170}
				  ,{field: 'ticket_number', title: '票号'}
				  ,{fixed: 'right', title:'操作', toolbar: '#softDeleSetCol'}
				]]
			  });
		});
		//点击录入名单
		$('body').on('click','#addPassAndId',function(){
			var nameListInfo = $('#nameAndIdIN').val();
			if(nameListInfo!=''){
				var nameList = formatNameList(nameListInfo); //得到格式化后的身份信息
				if(nameList['code']==-1)//判断信息正确性
				{
					layer.msg(nameList['msg']);
				}
				else if(nameList['code']==0)
				{
					var definiteRecordId = $('#definiteRecordId').text();
					var planPositonId = $('#plan_positon_id').text();
					var token = sessionStorage.getItem('__token__');
					$.ajax({
						type:"POST",
						url:"{:url('SelfPlanManage/PlAddDefinitePassData')}",
						data:{'id':definiteRecordId,'planPositonId':planPositonId,'__token__':token,'data':nameList.data},
						dataType:'json',
						success:function(data){
							if(data.status==1){
								layer.msg(data.message);
								$('#nameAndIdIN').val('');
								table.reload('definitePassTable',{
									done:function(res, curr, count){
										$('#definite_pass_count').text(count);
									}
								});
								var seat_number = $('#plan_seat_number').text();
								$('#plan_reserved').text(data.quantityZ);
								$('#plan_remainder').text(seat_number-data.quantityZ);
								
							}else{				
								layer.msg(data.message);
								
							}
						},
						complete:function(xmlHttpRequest){
							var token = xmlHttpRequest.getResponseHeader('__token__');
							//console.log('__token__响应头字段：'+ token);	
							sessionStorage.setItem('__token__',token);
						}
					});
				}
			}
		});
		//点击录入票号
		$('body').on('click','#addTicket',function(){
			var ticketListInfo = $('#nameAndTicketIN').val();
			if(ticketListInfo!=''){
				var ticketList = formatTicketList(ticketListInfo); //得到格式化后的票号信息
				if(ticketList['code']==-1)//判断信息正确性
				{
					layer.msg(ticketList['msg']);
				}
				else if(ticketList['code']==0)
				{
					var definiteRecordId = $('#definiteRecordId').text();
					var token = sessionStorage.getItem('__token__');
					$.ajax({
						type:"POST",
						url:"{:url('SelfPlanManage/PlAddDefiniteTicketData')}",
						data:{'id':definiteRecordId,'__token__':token,'data':ticketList.data},
						dataType:'json',
						success:function(data){
							if(data.status==1){
								layer.msg(data.message);
								$('#nameAndTicketIN').val('');
								table.reload('definitePassTable');
								
							}else{				
								layer.msg(data.message);
								
							}
						},
						complete:function(xmlHttpRequest){
							var token = xmlHttpRequest.getResponseHeader('__token__');
							//console.log('__token__响应头字段：'+ token);	
							sessionStorage.setItem('__token__',token);
						}
					});
				}
			}
		});
		//点击生成并复制名单（姓名和身份证）
		$('body').on('click','#outPassAndId',function(){
			var definiteRecordId = $('#definiteRecordId').text();
			$.ajax({
				async:false,
				type:"POST",
				url:"{:url('SelfPlanManage/OutDefinitePassData')}",
				data:{'id':definiteRecordId},
				dataType:'json',
				success:function(data){
					if(data.status==1){
						var outInfo = '';
						$.each(data.data,function(index, passInfo){
							outInfo = outInfo+passInfo['pass_name']+'\t'+passInfo['pass_id']+'\n'
						});
						outInfo = outInfo.substring(0,outInfo.length-1)
						$('#nameAndIdOut').val(outInfo);
						$("#nameAndIdOut").select();
						if (document.execCommand('copy')) {
							layer.msg('复制成功');
						}else{
							layer.msg('复制失败，请手动复制');
						}
						
					}else{				
						layer.msg(data.message);
						
					}
				}
			});
			
				
		});
		//点击生成并复制票号（姓名和票号）
		$('body').on('click','#outTicket',function(){
			var definiteRecordId = $('#definiteRecordId').text();
			$.ajax({
				async:false,
				type:"POST",
				url:"{:url('SelfPlanManage/OutDefinitePassData')}",
				data:{'id':definiteRecordId},
				dataType:'json',
				success:function(data){
					if(data.status==1){
						var outInfo = '';
						$.each(data.data,function(index, passInfo){
							outInfo = outInfo+passInfo['pass_name']+'/'+passInfo['ticket_number']+'\n'
						});
						outInfo = outInfo.substring(0,outInfo.length-1)
						$('#nameAndTicketOut').val(outInfo);
						$("#nameAndTicketOut").select();
						if (document.execCommand('copy')) {
							layer.msg('复制成功');
						}else{
							layer.msg('复制失败，请手动复制');
						}
					}else{				
						layer.msg(data.message);
						
					}
				}
			});
			
				
		});
		//点击新增单个名单
		$('body').on('click','#addSinglePassAndId',function(){
			layer.open({
				type: 1
				,title: '添加名单信息'
				//shadeClose:true,
				,closeBtn: 0
				,area: ['400px','280px']
				,content: $('#definite_pass_info')
				,btn: ['提交', '取消']
				,yes: function(index, layero){
					//按钮【按钮一】的回调
					var plan_position_id = $('#plan_positon_id').text();
					var definite_record_id = $('#definiteRecordId').text();
					var pass_name = layero.find('input[name="pass_name"]').val().trim();
					var pass_id = layero.find('input[name="pass_id"]').val().trim();
					var ticket_number = layero.find('input[name="ticket_number"]').val().trim();
					var token = sessionStorage.getItem('__token__');
					//名字只能是英文中文和‘/’,'\'。证件号码只能是字母和数字组合。票号格式13个数字或3个数字-10个数字
					if(/^[a-zA-Z\u4e00-\u9fa5\\\/]+$/g.test(pass_name) && /^[\w\d]+$/g.test(pass_id) && (/^\d{3}-\d{10}$|^\d{13}$/g.test(ticket_number) || ticket_number=='')){
						
						$.ajax({
							type:"POST",
							url:"{:url('SelfPlanManage/AddSingleDefinitePassData')}",
							data:{'plan_position_id':plan_position_id,'definite_record_id':definite_record_id,'pass_name':pass_name,'pass_id':pass_id,'ticket_number':ticket_number,'__token__':token},
							dataType:'json',
							success:function(data){
								if(data.status==1){		
									layer.close(index);
									layer.msg(data.message);
									table.reload('definitePassTable',{
										done:function(res, curr, count){
											$('#definite_pass_count').text(count);
										}
									});
									var seat_number = $('#plan_seat_number').text();
									$('#plan_reserved').text(data.quantityZ);
									$('#plan_remainder').text(seat_number-data.quantityZ);
									$('#definite_pass_info').find('input').val('');
									
									
								}else{				
									layer.msg(data.message);
									
								}
							},
							complete:function(xmlHttpRequest){
								var token = xmlHttpRequest.getResponseHeader('__token__');
								//console.log('__token__响应头字段：'+ token);	
								sessionStorage.setItem('__token__',token);
							}
						});
						
						//layer.msg('ok');
					}else{
						layer.msg('填写内容格式错误');
					}
					
					
				}
				,btn2: function(index, layero){
					//按钮【按钮二】的回调
					$('#definite_pass_info').find('input').val('');
					layer.close(index);
				}
			});
		});
		//有名单的留位表，乘机人数据，工具栏点击修改/删除
		table.on('tool(definitePassListF)', function(obj){
			var trData = obj.data; //获得当前行数据
			var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
			//点击删除
			if(layEvent === 'dele'){
				layer.confirm('【'+trData['pass_name']+'】是否确认删除', function(Cindex){
					$.ajax({
						type:"POST",
						url:"{:url('SelfPlanManage/DeleDefinitePassData')}",
						data:{'id':trData['id']},
						dataType:'json',
						success:function(data){
							if(data.status==1){		
								layer.msg(data.message);
								table.reload('definitePassTable',{
									done:function(res, curr, count){
										$('#definite_pass_count').text(count);
									}
								});
								table.reload('softDeleDefinitePassTable');
								var seat_number = $('#plan_seat_number').text();
								$('#plan_reserved').text(data.quantityZ);
								$('#plan_remainder').text(seat_number-data.quantityZ);
							}else{				
								layer.msg(data.message);
								
							}
						}
					});
				});
			//点击修改
			}else if(layEvent === 'edit'){
				
				$('#definite_pass_info').find('input[name="pass_name"]').val(trData['pass_name']);
				$('#definite_pass_info').find('input[name="pass_id"]').val(trData['pass_id']);
				$('#definite_pass_info').find('input[name="ticket_number"]').val(trData['ticket_number']);
				layer.open({
					type: 1
					,title: '修改名单记录'
					//shadeClose:true,
					,closeBtn: 0
					,area: ['400px','280px']
					,content: $('#definite_pass_info')
					,btn: ['提交', '取消']
					,yes: function(index, layero){
						//按钮【按钮一】的回调
						var pass_name = layero.find('input[name="pass_name"]').val().trim();
						var pass_id = layero.find('input[name="pass_id"]').val().trim();
						var ticket_number = layero.find('input[name="ticket_number"]').val().trim();
						var token = sessionStorage.getItem('__token__');
						if(/^[a-zA-Z\u4e00-\u9fa5\\\/]+$/g.test(pass_name) && /^[\w\d]+$/g.test(pass_id) && (/^\d{3}-\d{10}$|^\d{13}$/g.test(ticket_number) || ticket_number=='')){
							$.ajax({
								type:"POST",
								url:"{:url('SelfPlanManage/editDefinitePassData')}",
								data:{'id':trData['id'],'pass_name':pass_name,'pass_id':pass_id,'ticket_number':ticket_number,'__token__':token},
								dataType:'json',
								success:function(data){
									if(data.status==1){	
										layer.close(index);
										layer.msg(data.message);
										table.reload('definitePassTable',{
											done:function(res, curr, count){
												$('#definite_pass_count').text(count);
											}
										});
										var seat_number = $('#plan_seat_number').text();
										$('#plan_reserved').text(data.quantityZ);
										$('#plan_remainder').text(seat_number-data.quantityZ);
										$('#definite_pass_info').find('input').val('');
										
									}else{				
										layer.msg(data.message);
										
									}
								},
								complete:function(xmlHttpRequest){
									var token = xmlHttpRequest.getResponseHeader('__token__');
									//console.log('__token__响应头字段：'+ token);	
									sessionStorage.setItem('__token__',token);
								}
							});
						}else{
							layer.msg('填写内容格式错误');
						}
						
						
					}
					,btn2: function(index, layero){
						//按钮【按钮二】的回调
						$('#definite_pass_info').find('input').val('');
						layer.close(index);
					}
				});
			}
		
		});
		//软删除有名单留位表工具栏点击恢复
		table.on('tool(softDeleDefinitePassListF)', function(obj){
			var trData = obj.data; //获得当前行数据
			var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
			 
			//点击恢复
			if(layEvent === 'recovery'){
				layer.confirm('【'+trData['pass_name']+'】是否确认恢复到名单', function(Cindex){
					$.ajax({
						type:"POST",
						url:"{:url('SelfPlanManage/SoftDeleRecoveryDefinitePassData')}",
						data:{'id':trData['id']},
						dataType:'json',
						success:function(data){
							if(data.status==1){	
								layer.msg(data.message);
								table.reload('definitePassTable',{
									done:function(res, curr, count){
										$('#definite_pass_count').text(count);
									}
								});
								table.reload('softDeleDefinitePassTable');
								var seat_number = $('#plan_seat_number').text();
								$('#plan_reserved').text(data.quantityZ);
								$('#plan_remainder').text(seat_number-data.quantityZ);
								$('#definite_pass_info').find('input').val('');
								
							}else{				
								layer.msg(data.message);
								
							}
						}
					});
				});
						
			}
		
		});
		
	});
});
//******票号号名单格式化输出函数*********
function formatTicketList(ticketData){
	var inTextArr = ticketData.trim().split('\n');
	var tickeList = new Object();
	//去除多余字符
	for(var i=0;i<inTextArr.length;i++){
		inTextArr[i]=inTextArr[i].replace(/[&\|\\\*^%$#@：:，,;；、。./\-\s*]/g,'');
	}
	//去除空行
	for(var i=0;i<inTextArr.length;i++){
		if (inTextArr[i]==""){
			inTextArr.splice(i,1);
			i=i-1;
		}
	}
	for(var j=0;j<inTextArr.length;j++){
		var tickeNumIndex = inTextArr[j].search(/\d{3}-\d{10}|\d{13}/g);//票号所在字符串中的索引
		//判断位数是否足够
		if (tickeNumIndex<0){
			return {'code':-1,'msg':'第'+(j+1).toString()+'个名单票号位数少于13位','data':{}};
		}
		else{
			var tickeNumSArr = inTextArr[j].match(/\d{3}-\d{10}|\d{13}/g);//获取票号
			
			if(tickeNumIndex==0){
				var name = inTextArr[j].substring(tickeNumIndex+tickeNumSArr.length,inTextArr[j].length);//获取名字
				name = name.replace(/[\d\s\.\!\/_,$%^*(+\"\']+|[+——:：;；’‘”“！，。？?、~@#￥%……&*（）()【】]+/g,'');//出去名字中的特殊字符
				var tickeNum = tickeNumSArr[0].slice(0, 3) + '-' + tickeNumSArr[0].slice(3);//票号前3位后添加"-"
			}else if(tickeNumIndex+tickeNumSArr[0].length==inTextArr[j].length){
				var name = inTextArr[j].substring(0,inTextArr[j].search(tickeNumSArr[0]));//获取名字
				name = name.replace(/[\d\s\.\!\/_,$%^*(+\"\']+|[+——:：;；’‘”“！，。？?、~@#￥%……&*（）()【】]+/g,'');//出去名字中的特殊字符
				var tickeNum = tickeNumSArr[0].slice(0, 3) + '-' + tickeNumSArr[0].slice(3);//票号前3位后添加"-"
			}else{
				return {'code':-1,'msg':'第'+(j+1).toString()+'个名单有错误，请检查','data':{}};
			}
			if(name==''){
				return {'code':-1,'msg':'第'+(j+1).toString()+'个名单姓名不能为空','data':{}};
			}
			if(tickeList.hasOwnProperty(name)){
				return {'code':-1,'msg':'第'+(j+1).toString()+'个名单姓名重名','data':{}};
			}
			for (na in tickeList)  // na 为属性名
			{
				if(tickeList[na]['ticket_number']==tickeNum){
					return {'code':-1,'msg':'第'+(j+1).toString()+'个名单票号重复','data':{}};
				}
			}
			tickeList[name]={'pass_name':name,'ticket_number':tickeNum};
		}
		
	}
	return {'code':0,'msg':'','data':tickeList};

}
//******证件号名单格式化输出函数*********
function formatNameList(nameData){
	var inTextArr = nameData.trim().split('\n');
	var nameList = new Object();
	//去除多余字符
	for(var i=0;i<inTextArr.length;i++){
		inTextArr[i]=inTextArr[i].replace(/[&\|\\\*^%$#@：:，,;；、。./\-\s*]/g,"");
	}
	//去除空行
	for(var i=0;i<inTextArr.length;i++){
		if (inTextArr[i]==""){
			inTextArr.splice(i,1);
			i=i-1;
		}
	}
	for(var j=0;j<inTextArr.length;j++){
		var idNumIndex = inTextArr[j].search(/[0-9]{17}[0-9,x,X]/g);//身份证号码所在字符串中的索引
		
		//判断位数是否足够
		if (idNumIndex<0){
			return {'code':-1,'msg':'第'+(j+1).toString()+'个名单身份证号码位数错误','data':{}};
		}else{
			var idNum = inTextArr[j].match(/[0-9]{17}[0-9,x,X]/g);//身份证号码
			idNum[0] = idNum[0].replace('x','X');
			//验证身份证号码是否正确
			var isIdNum = checkIDCard(idNum[0]);
			if(isIdNum===false){
				return {'code':-1,'msg':'第'+(j+1).toString()+'个名单身份证号码错误','data':{}};
			}
			else{
				if(idNumIndex==0){
					var name = inTextArr[j].substring(idNumIndex+18,inTextArr[j].length);//获取名字
					name = name.replace(/[\d\s\.\!\/_,$%^*(+\"\']+|[+——:：;；’‘”“！，。？?、~@#￥%……&*（）()【】]+/g,'');
				}else if(idNumIndex+18 == inTextArr[j].length){
					var name = inTextArr[j].substring(0,idNumIndex);//获取名字
					name = name.replace(/[\d\s\.\!\/_,$%^*(+\"\']+|[+——:：;；’‘”“！，。？?、~@#￥%……&*（）()【】]+/g,'');
				}else{
					return {'code':-1,'msg':'第'+(j+1).toString()+'个名单有错误，请检查','data':{}};
				}
				if(name==''){
					return {'code':-1,'msg':'第'+(j+1).toString()+'个名单姓名不能为空','data':{}};
				}
				if(nameList.hasOwnProperty(name)){
					return {'code':-1,'msg':'第'+(j+1).toString()+'个名单姓名重名','data':{}};
				}
				for (na in nameList)  // na 为属性名
				{
					if(nameList[na]['pass_id']==idNum[0]){
						return {'code':-1,'msg':'第'+(j+1).toString()+'个名单身份号码重复','data':{}};
					}
				}
				nameList[name]={'pass_name':name,'pass_id':idNum[0]};
			}
		}
		
	}
	return {'code':0,'msg':'','data':nameList};


}
//*****身份证号码验证函数******	
// 函数参数必须是字符串，因为二代身份证号码是十八位，而在javascript中，十八位的数值会超出计算范围，造成不精确的结果，导致最后两位和计算的值不一致，从而该函数出现错误。
// 详情查看javascript的数值范围
function checkIDCard(idcode){
	// 加权因子
	var weight_factor = [7,9,10,5,8,4,2,1,6,3,7,9,10,5,8,4,2];
	// 校验码
	var check_code = ['1', '0', 'X' , '9', '8', '7', '6', '5', '4', '3', '2'];

	var code = idcode + "";
	var last = idcode[17];//最后一个

	var seventeen = code.substring(0,17);

	// ISO 7064:1983.MOD 11-2
	// 判断最后一位校验码是否正确
	var arr = seventeen.split("");
	var len = arr.length;
	var num = 0;
	for(var i = 0; i < len; i++){
		num = num + arr[i] * weight_factor[i];
	}
	
	// 获取余数
	var resisue = num%11;
	var last_no = check_code[resisue];

	// 格式的正则
	// 正则思路
	/*
	第一位不可能是0
	第二位到第六位可以是0-9
	第七位到第十位是年份，所以七八位为19或者20
	十一位和十二位是月份，这两位是01-12之间的数值
	十三位和十四位是日期，是从01-31之间的数值
	十五，十六，十七都是数字0-9
	十八位可能是数字0-9，也可能是X
	*/
	var idcard_patter = /^[1-9][0-9]{5}([1][9][0-9]{2}|[2][0][0|1][0-9])([0][1-9]|[1][0|1|2])([0][1-9]|[1|2][0-9]|[3][0|1])[0-9]{3}([0-9]|[X])$/;

	// 判断格式是否正确
	var format = idcard_patter.test(idcode);

	// 返回验证结果，校验码和格式同时正确才算是合法的身份证号码
	return last === last_no && format ? true : false;
}

</script>
</body>
</html>