	<div class="layui-header">
		<div class="layui-logo"><img src="__STATIC__/images/EZ_logo.png" class="layui-nav-img" alt="">团队计划位管理系统</div>
		<ul class="layui-nav layui-layout-left">
		  <li class="layui-nav-item"><a href="#" id="leftFlexible"><i class="layui-icon layui-icon-shrink-right"></i></a></li>
		  
		</ul>
		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item">
				<span>{:session('user_info.name')}</span>
			</li>
			<li class="layui-nav-item"><a href="#" id="setPassword">修改密码</a></li>
			<li class="layui-nav-item"><a href="{:url('user/logout')}">退出</a></li>
		</ul>
	</div>